body { margin: 0 }


.HeadStyle {
  border-bottom: solid;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.HeadContent {
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: space-around;
    align-items: center;
}


.A {
  margin-top: 2%;
  margin-left: 70px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #FFFFFF;
  position: absolute;
  font-size: 17px;

}

.B {
  margin-top: 2%;
  margin-left: 760px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #EEEEEE;
  position: absolute;
}

.plus-button {
  border: none;
  background: none;
  font-size: 15px;
  margin-left: 663px;
  margin-top: 16px;
}

.minus-button {
  border: none;
  background: none;
  font-size: 15px;

}

.C {
  margin-top: 2%;
  margin-left: 760px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background:  #FFFFFF;
  position: absolute;
  font-size: 17px;
}

.D {
  margin-top: 2%;
  margin-left: 70px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #EEEEEE;
  position: absolute;
}

.board {
  border: solid;
  max-width:850px;
  height: 400px;
}
