
.Rm-header {
  height: 105px;
  border: solid;
  display: flex;
  flex-wrap: nowrap;
  color: black;
  justify-content: space-around;
  align-items: center;
}


.A {
  margin-top: 2%;
  margin-left: 80px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #EEEEEE;
  position: absolute;

}

.B {
  margin-top: 2%;
  margin-left: 770px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #FFFFFF;
  position: absolute;
}

/* #boxContained {
  display: inline;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5%;
} */
