body { margin: 0 }


.HeadStyle {
  height: 105px;
  border: solid;
  display: flex;
  flex-wrap: nowrap;
  color: black;
  justify-content: space-around;
  align-items: center;
}


.A {
  margin-top: 2%;
  margin-left: 70px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #EEEEEE;
  position: absolute;

}

.B {
  margin-top: 2%;
  margin-left: 760px;
  width: 600px;
  height: 600px;
  border: dotted; 
  background: #FFFFFF;
  position: absolute;
}

.add-button {
  border: none;
  background: none;
  font-size: 15px;
  
}